{% extends 'base.html.twig' %}

{% block title %}Détails du Chapitre{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto mt-10 bg-white shadow-md rounded-lg p-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Chapitre : {{ chapter.title }}</h1>

    <p class="mb-4"><strong>Description :</strong> {{ chapter.description }}</p>

    <h2 class="text-xl font-bold text-gray-800 mt-6">Exercices</h2>
    {% if chapter.exercises is not empty %}
        <ul class="list-disc ml-6 mt-2">
            {% for exercise in chapter.exercises %}
                <li><a href="{{ path('exercise_show', {'id': exercise.id}) }}">{{ exercise.question }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-gray-600 mt-2">Aucun exercice trouvé pour ce chapitre.</p>
    {% endif %}

    <div class="mt-6 flex space-x-4">
    
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('chapter_edit', {'id': chapter.id}) }}" class="bg-yellow-500 text-white py-2 px-4 rounded hover:bg-yellow-600">Modifier</a>
        {% endif %}
        <a href="{{ path('chapter_list') }}" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600">
            Retour à la Liste des Chapitres
        </a>
    </div>
</div>
{% endblock %}
