{% extends 'base.html.twig' %}

{% block title %}Connected!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 py-10 px-6">
            <div class="bg-white shadow-lg rounded-lg p-8 max-w-md w-full">
                <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">User Information</h1>
                <div class="text-gray-700 space-y-2">
                    <p><span class="font-medium">First Name:</span> {{ app.user.firstname }}</p>
                    <p><span class="font-medium">Last Name:</span> {{ app.user.lastname }}</p>
                    <p><span class="font-medium">Username:</span> {{ app.user.username }}</p>
                    <p><span class="font-medium">Email:</span> {{ app.user.email }}</p>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="mt-6 text-center">
                        <a href="{{ path('app_admin') }}" class="bg-red-500 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                            Admin
                        </a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <div class="mt-6 text-center">
                        <a href="{{ path('app_profile') }}" class="bg-red-500 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                            Profil
                        </a>
                    </div>
                {% endif %}
                <div class="mt-6 text-center">
                    <a href="{{ path('app_logout') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
